.article-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 20px;
}

.article-card {
    display: inline-block;
    cursor: pointer;
}

.article-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-card h1 {
    margin-top: 10px;
    color: rgba(var(--white-one));
    font-size: var(--fs-18px);
}

.articlesc-content-panel-area-one {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 40px;
}

.content-panel-article .area-three {
    width: 100%;
}

.content-panel-article .area-three img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-info-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.code-snippet {
    background-color: #282C34;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin: 20px 0px;
    position: relative;
    font-size: var(--fs-18px);
}

.code-snippet .see-more {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    font-size: var(--fs-18px);
    transition: opacity .2s;
}

.code-snippet pre {
    line-height: 140%;
    color: #5C6370;
    padding-bottom: 10px;
}

.code-snippet code {
    max-height: 250px;
    display: block;
}

.important-box {
    background-color: rgba(var(--golden-haze-one), .2);
    color: rgba(var(--golden-haze-one));
    padding: 20px;
    font-size: var(--fs-18px);
    display: flex;
    align-items: center;
    gap: 10px;
}

.important-box svg {
    min-width: 24px;
    min-height: 24px;
}

.code-snippet pre code .purple {
    color: #C678DD;
}

.code-snippet pre code .orange {
    color: #D19A66;
}

.code-snippet pre code .gray {
    color: #ABB2BF;
}

.code-snippet pre code .lightgray {
    color: #5C6370;
}

.code-snippet pre code .blue {
    color: #61AFEF;
}

.code-snippet pre code .red {
    color: #E06C75;
}

.code-snippet pre code .green {
    color: #98C379;
}

.code-snippet pre code .yellow {
    color: #FFD700;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
    .article-cards-container {
        grid-template-columns: 1fr
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .article-cards-container {
        grid-template-columns: 1fr 1fr
    }
}