.content-panel-blog .area-three {
    width: 100%;
}

.content-panel-blog .area-three img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-info-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.code-snippet {
    background-color: #282C34;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: 20px 0px;
}

.code-snippet pre {
    font-size: var(--fs-18px);
    line-height: 140%;
    color: #5C6370;
    overflow-y: auto;
    padding-bottom: 10px;
}

.important-box {
    background-color: rgba(var(--golden-haze-one), .2);
    color: rgba(var(--golden-haze-one));
    padding: 20px;
    font-size: var(--fs-18px);
}

.code-snippet pre code .purple {
    color: #C678DD;
}

.code-snippet pre code .orange {
    color: #D19A66;
}

.code-snippet pre code .gray {
    color: #ABB2BF;
}

.code-snippet pre code .blue {
    color: #61AFEF;
}

.code-snippet pre code .red {
    color: #E06C75;
}

.code-snippet pre code .green {
    color: #98C379;
}

.code-snippet pre code .yellow {
    color: #FFD700;
}