.slide-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(var(--black-one));
    border-bottom: 1px solid rgb(var(--silver-one));
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    z-index: 99999;
    -webkit-transition: all 0.75s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.75s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.75s cubic-bezier(0.645, 0.045, 0.355, 1);
}