.main-layout {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 30px;
}

@media screen and (min-width: 0px) and (max-width: 576px) {
    .main-layout {
        padding: 0 15px;
    }
}