nav {
    background-image: linear-gradient(to bottom, rgba(var(--black-one)), rgba(var(--black-one), 0));
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 53px 30px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
}

.nav-menu {
    cursor: pointer;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 0px) and (max-width: 576px) {
    nav {
        padding: 30px 15px 53px 15px;
    }
    .nav-menu * {
        font-size: var(--fs-24px);
    }
    .nav-menu-icon {
        width: 16px;
        height: 16px;
    }
}