nav {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(var(--black-one))), to(rgba(var(--black-one), 0)));
    background-image: -o-linear-gradient(top, rgba(var(--black-one)), rgba(var(--black-one), 0));
    background-image: linear-gradient(to bottom, rgba(var(--black-one)), rgba(var(--black-one), 0));
    position: sticky;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 30px 30px 53px 30px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
}

.navigation-links-container {
    height: 100%;
    width: 100%;
    z-index: 9999;
    margin: auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-y: auto;
}

.navigation-close-button {
    text-align: right;
    opacity: 0;
    visibility: collapse;
    margin-top: 35px;
    margin-right: 30px;
    -webkit-animation: fadeIn .5s cubic-bezier(0.645, 0.045, 0.355, 1) 3s forwards;
    animation: fadeIn .5s cubic-bezier(0.645, 0.045, 0.355, 1) 3s forwards
}

.nav-menu {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navigation {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: rgb(var(--black-one));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    -webkit-animation: fadeIn .5s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
    animation: fadeIn .5s cubic-bezier(0.645, 0.045, 0.355, 1) forwards
}

.tv-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45vh;
    opacity: 0;
    -webkit-animation: tvBlink 4s infinite 3s;
    animation: tvBlink 4s infinite 3s;
}

.navigation-links-wrapper {
    z-index: 999;
    width: 100%;
    padding: 60px;
    opacity: 1;
    margin: auto 0;
}

.navigation-content-panel {
    cursor: pointer;
}

.navigation-content-panel:hover .content-panel-line::after,
.navigation-content-panel:hover .content-panel-line::before {
    background-color: rgb(var(--white-one));
}

.navigation-content-panel:hover .area-one-mask .navigation-link-title {
    text-shadow: 0 0 100px rgb(var(--white-one));
}

.nav-menu-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 20px;
    min-width: 20px;
    height: 20px;
}

.nav-menu-icon span {
    background-color: white;
    height: 3px;
    -webkit-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
}

.nav-menu-icon-rect-one {
    margin-bottom: 5px;
    width: 100%;
}

.nav-menu-icon-rect-two {
    width: 65%;
}

.nav-menu:hover .nav-menu-icon-rect-one {
    width: 65%;
}

.nav-menu:hover .nav-menu-icon-rect-two {
    width: 100%;
}


@-webkit-keyframes tvBlink {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0.4;
    }

    10% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    35% {
        opacity: 0.4;
    }

    37% {
        opacity: 1;
    }

    50% {
        opacity: 0.7;
    }

    60% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    75% {
        opacity: 0.6;
    }

    80% {
        opacity: 0.4;
    }

    85% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


@keyframes tvBlink {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0.4;
    }

    10% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    35% {
        opacity: 0.4;
    }

    37% {
        opacity: 1;
    }

    50% {
        opacity: 0.7;
    }

    60% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    75% {
        opacity: 0.6;
    }

    80% {
        opacity: 0.4;
    }

    85% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media screen and (min-width: 0px) and (max-width: 576px) {
    nav {
        padding: 30px 15px 53px 15px;
    }

    .nav-menu * {
        font-size: var(--fs-24px);
    }

    .nav-menu-icon {
        width: 16px;
        height: 16px;
    }

    .tv-image {
        width: 25vh;
    }

    .navigation-links-wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }

    .navigation-links-wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }

    .navigation-link-title {
        font-size: var(--fs-36px);
    }

    .navigation-link-icon {
        width: 22px;
        height: 22px;
    }

    .navigation .arrows-button {
        right: 15px;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .navigation-links-wrapper {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .tv-image {
        width: 35vh;
    }

    .navigation-links-wrapper {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (hover: none) {

    .navigation-content-panel:hover .content-panel-line::after,
    .navigation-content-panel:hover .content-panel-line::before {
        background-color: rgb(var(--gray-one));
    }

    .navigation-content-panel:hover .area-one-mask .navigation-link-title {
        text-shadow: 0 0 100px rgba(var(--white-one), 0.4);
    }

    .nav-menu:hover .nav-menu-icon-rect-one {
        width: 100%;
    }

    .nav-menu:hover .nav-menu-icon-rect-two {
        width: 65%;
    }
}