nav {
    background-image: linear-gradient(to bottom, rgba(var(--black-one)), rgba(var(--black-one), 0));
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 53px 30px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
}

.nav-menu {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(var(--black-one));
    display: flex;
    flex-direction: column;
}

.navigation .arrows-button {
    position: absolute;
    top: 35px;
    right: 30px;
}

.tv-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45vh;
    animation: tvBlink 4s infinite;
    opacity: 1;
}

.navigation-links-container {
    width: 100%;
    z-index: 9999;
    margin: auto 0;
    overflow-y: auto;
}

.navigation-links-wrapper {
    z-index: 999;
    width: 100%;
    padding: 175px;
    opacity: 1;
}

@keyframes tvBlink {
    0% {}

    5% {
        opacity: 0.5;
    }

    10% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    35% {
        opacity: 0.2;
    }

    37% {
        opacity: 1;
    }

    50% {
        opacity: 0.7;
    }

    60% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    75% {
        opacity: 0.5;
    }

    80% {
        opacity: 0.2;
    }

    85% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (min-width: 0px) and (max-width: 576px) {
    nav {
        padding: 30px 15px 53px 15px;
    }

    .nav-menu * {
        font-size: var(--fs-24px);
    }

    .nav-menu-icon {
        width: 16px;
        height: 16px;
    }

    .tv-image {
        width: 25vh;
    }

    .navigation-links-wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }

    .navigation-links-wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }

    .navigation-links-wrapper .content-panel-container {
        margin-bottom: 20px;
    }

    .navigation-link-title {
        font-size: var(--fs-36px);
    }

    .navigation-link-icon {
        width: 22px;
        height: 22px;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .navigation-links-wrapper {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .tv-image {
        width: 35vh;
    }

    .navigation-links-wrapper {
        padding-left: 50px;
        padding-right: 50px;
    }
}