.linkedin-button {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.linkedin-button-icon {
    margin-left: 7px;
}

@media screen and (max-width: 576px) {
    .linkedin-button-icon {
        width: 18px;
        margin-left: 4px;
        height: 18px;
    }
}