nav {
    background-image: linear-gradient(to bottom, rgba(var(--black-one)), rgba(var(--black-one), 0));
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px 53px 0px;
}

.nav-menu {
    cursor: pointer;
}