.other-projects-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.other-projects-wrapper>*:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.other-projects-wrapper>*:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.other-projects-wrapper>*:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

.other-projects-wrapper .project-card-container-title {
    font-size: var(--fs-20px);
}

@media screen and (max-width: 768px) {
    .other-projects-wrapper {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .other-projects-wrapper .project-card-container-footer {
        left: 15px;
        right: 15px;
        bottom: 15px;
    }
}