.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    background-color: rgba(var(--white-one), 0.3);
    z-index: 99999;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    padding: 30px;
    overflow-y: auto;
    animation: fadeIn .5s cubic-bezier(0.645, 0.045, 0.355, 1) forwards
}

.modal {
    position: relative;
    max-width: 1840px;
    width: 100%;
    min-height: 100%;
    background-color: rgb(var(--black-one));
    margin: auto;
}

.modal-container {
    padding: 30px 0px 30px 30px;
}

.modal .modal-close {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    background-image: linear-gradient(to bottom, rgb(var(--black-one)), rgba(0,0,0,0));
    position: sticky;
    top: -31px;
}

.modal-boundries {
    max-width: 66%;
}

@media screen and (max-width: 1200px) {
    .modal-boundries {
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .modal-wrapper {
        padding: 15px;
    }

    .modal-container {
        padding: 0px 15px 15px 15px;
    }

    .modal .modal-close {
        top: -15px;
    }
}