.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(var(--white-one), 0.3);
    z-index: 99999;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    padding: 30px;
    overflow-y: auto;
    -webkit-animation: fadeIn .5s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
    animation: fadeIn .5s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
    height: 100%;
    width: 100%;
}

.modal {
    position: relative;
    max-width: 1840px;
    width: 100%;
    min-height: 100%;
    background-color: rgb(var(--black-one));
    margin: auto;
}

.modal-container {
    padding: 0px 30px 30px 30px;
}

.modal .modal-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 30px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(var(--black-one))), to(rgba(0, 0, 0, 0)));
    background-image: -o-linear-gradient(top, rgb(var(--black-one)), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to bottom, rgb(var(--black-one)), rgba(0, 0, 0, 0));
    position: sticky;
    top: -31px;
}

.modal-boundries {
    max-width: 66%;
}

@media screen and (max-width: 1200px) {
    .modal-boundries {
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .modal-wrapper {
        padding: 15px;
    }

    .modal-container {
        padding: 0px 15px 15px 15px;
    }

    .modal .modal-close {
        top: -15px;
    }
}
