.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: rgb(var(--black-one));
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
    opacity: 1;
    animation: splashScreenAnimation 1s forwards;
}

.splash-screen-logo {
    font-size: 8.335vw;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
    .splash-screen-logo {
        font-size: 16.335vw;
    }
}

@keyframes splashScreenAnimation {
    from {
        visibility: visible;
        opacity: 1;
    }

    to {
        visibility: collapse;
        opacity: 0;
    }
}