footer {
    margin-top: auto;
}

.footer-wrapper {
    border-top: 1px solid rgb(var(--gray-one));
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    padding: 40px 0px;
}

.footer-avatar {
    display: flex;
    align-items: center;
}

.footer-social-media {
    display: flex;
    gap: 50px;
}

@media screen and (min-width: 0px) and (max-width: 576px) {
    .footer-wrapper {
        flex-direction: column;
        padding: 30px 0px;
        margin-top: 50px;
    }

    .footer-avatar {
        margin-bottom: 30px;
    }
}