.avatar {
    width: 5rem;
    min-width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}