.container-one {
  max-width: 1176px;
  width: 100%;
  margin: 0 auto;
}

.content-panel-space-one {
  margin-top: 70px;
}

.project-content-panel {
  margin-bottom: 118px;
}

.project-container {
  opacity: 0;
  visibility: hidden;
}

.project-about-content-panel {
  margin: 50vh 0;
}

.project-content-panel-area-two {
  max-width: 462px;
}

.project-cover-image-wrapper,
.project-image-wrapper {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-cover-image-wrapper img,
.project-image-wrapper img {
  width: 100%;
}

.project-image-wrapper {
  margin-bottom: 100px;
}

.project-image-wrapper:last-child {
  margin-bottom: 0;
}

.technology-box {
  display: inline-flex;
  align-items: center;
  border: 1px solid rgb(var(--silver-one));
  padding: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.technologies-wrapper {
  display: flex;
  flex-wrap: wrap;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@media screen and (max-width: 768px) {
  .project-about-content-panel .content-panel-body {
    flex-direction: column;
    align-items: flex-start;
  }

  .project-about-content-panel .content-panel-body .area-one {
    margin-bottom: 40px;
  }

  .project-about-content-panel .area-one-mask {
    bottom: unset !important;
  }

  .project-image-wrapper {
    margin-bottom: 50px;
  }

  .project-about-content-panel {
    margin: 35vh 0;
  }
}