/* Montserrat Font Family - START */
.m-semibold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.m-black {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}
/* Montserrat Font Family - END */

/* Source Code Pro Font Family - START */
.s-black {
  font-family: 'Source Code Pro', monospace;
  font-weight: 900;
}
/* Source Code Pro Font Family - END */
