*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  overflow-x: hidden;
  font-size: 62.5%;
  background-color: rgb(var(--black-one));
}

#root {
  min-height: 100%;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}