@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@900&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  /* Black */
  --black-one: 0, 0, 0;

  /* White */
  --white-one: 255, 255, 255;

  /* Silver */
  --silver-one: 192, 192, 192;

  /* Golden Haze */
  --goldenhaze-one: 219, 194, 130;

  /* Font Sizes */
  --fs-128px: 12.8rem;
  --fs-64px: 6.4rem;
  --fs-36px: 3.6rem;
  --fs-24px: 2.4rem;
  --fs-20px: 2.0rem;
  --fs-18px: 1.8rem;
}

html,
body {
  height: 100%;
  overflow: hidden;
  font-size: 62.5%;
}

#root {
  height: 100%;
}