@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@800&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  /* Black */
  --black-one: 0, 0, 0;

  /* White */
  --white-one: 255, 255, 255;

  /* Silver */
  --silver-one: 192, 192, 192;

  /* Golden Haze */
  --golden-haze-one: 219, 194, 130;

  /* Gray */
  --gray-one: 102, 102, 102;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  overflow-x: hidden;
  font-size: 62.5%;
  background-color: rgb(var(--black-one));
}

#root {
  height: 100%;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}