.portfolio-projects-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    opacity: 0;
    visibility: hidden;
}

.portfolio-projects-wrapper>*:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.portfolio-projects-wrapper>*:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.portfolio-content-panel {
    margin-bottom: 160px;
}

.portfolio-content-panel-area-two {
    max-width: 373px;
}

@media screen and (max-width: 768px) {
    .portfolio-projects-wrapper {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .portfolio-content-panel-area-two {
        max-width: 400px;
    }

    .portfolio-content-panel .content-panel-body .area-one {
        margin-bottom: 40px;
    }

    .portfolio-content-panel .content-panel-body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .portfolio-content-panel .area-one-mask {
        bottom: unset !important;
    }
}

@media screen and (max-width: 576px) {
    .portfolio-content-panel {
        margin-bottom: 100px;
    }

    .portfolio-content-panel-area-two {
        max-width: 340px;
    }
}