.portfolio-projects-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    flex-wrap: wrap;
    opacity: 0;
    visibility: hidden;
}

.portfolio-content-panel {
    margin-bottom: 160px;
}

.portfolio-content-panel-area-two {
    max-width: 373px;
}

@media screen and (max-width: 768px) {
    .portfolio-projects-wrapper {
        grid-template-columns: 1fr;
    }

    .portfolio-content-panel-area-two {
        max-width: 400px;
    }

    .portfolio-content-panel .content-panel-body .area-one {
        margin-bottom: 40px;
        padding-right: 0;
    }

    .portfolio-content-panel .content-panel-body {
        flex-direction: column;
        align-items: flex-start;
    }

    .portfolio-content-panel .area-one-mask {
        bottom: unset !important;
    }
}

@media screen and (max-width: 576px) {
    .portfolio-content-panel {
        margin-bottom: 100px;
    }

    .portfolio-content-panel-area-two {
        max-width: 340px;
    }
}