.not-found-wrapper {
    padding: 15px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.not-found-title {
    color: white;
    font-size: 64px;
    text-align: center;
}

.not-found-subtitle {
    color: #c0c0c0;
    font-size: 32px;
    text-align: center;
    font-weight: 600;
}

hr {
    margin: 20px 0;
    width: 100%;
}

@media screen and (min-width: 0px) and (max-width: 576px) {
    .not-found-title {
        font-size: 42px;
    }

    .not-found-subtitle {
        font-size: 20px;
    }
}